
<ng-container *ngIf="orderState$ | async as orderState">
    <div>Order-state: {{ orderState }}</div>

    <ng-container *ngIf="orderState === 'none' || orderState === 'accepted'">

        <h2 style="margin-bottom: 0;">Order-forms</h2>
        <app-collapsable>
            <app-tabs>
                <app-tab [tabTitle]="'Pre-selected'">
                    <app-precalc-form></app-precalc-form>
                </app-tab>
                <app-tab [tabTitle]="'Free selection'">
                    <app-order-form></app-order-form>
                </app-tab>
            </app-tabs>
        </app-collapsable>

        <div class="box placeOrder">
            <app-dropfield (fileDropped)="handleNewData($event)"></app-dropfield>
            
            <div class="buttonContainer">
                <button (click)="onSendOrderClicked()" [disabled]="this.orders.length <= 0">Send order</button>
                <a href="./assets/example_order.json" target="_blank" download="example_order.json"><button>Example file</button></a>
            </div>
        </div>
    </ng-container>
</ng-container>


