<clr-main-container [ngClass]="{'floating':ui.floating}">
  <ukis-global-alert *ngIf="ui.alert" [(alert)]="ui.alert"></ukis-global-alert>
  <ukis-global-progress *ngIf="ui.progress" [(progress)]="ui.progress"></ukis-global-progress>

  <ukis-header [ukis-title]="title">
    <a class="nav-link nav-text header-nav-el" routerLink="/catalog"><span class="nav-text">Catalog</span></a>
    <a class="nav-link nav-text header-nav-el" routerLink="/order"><span class="nav-text">Orders</span></a>
    <a class="nav-link nav-text header-nav-el" routerLink="/multi"><span class="nav-text">Multi-Orders</span></a>
    <a class="nav-link nav-text header-nav-el" routerLink="/state"><span class="nav-text">Current state</span></a>
  </ukis-header>

  <!-- <app-login></app-login> -->

  <router-outlet></router-outlet>
</clr-main-container>
