.dropfield {
    outline: 1px;
    outline-style: solid;
    outline-color: black;
    width: 50%;
    margin: 5% 25% 5% 25%;
    height: 150px;
    border: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropfieldtext {

}