.customDropZone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropField {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 60%;
    border: 1px solid lightgrey; 
}

.dropField:hover {
    border: 2px solid lightblue; 
}