<div class="center">
    <ngx-file-drop dropZoneLabel="Drop files here"
        (onFileDrop)="dropped($event)" 
        (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)"
        accept=".json"
        dropZoneClassName=""
        contentClassName=""
    >
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <div class="customDropZone">
                <div class="dropField">
                    Drop your file(s) here
                </div>
                <div>
                    <button type="button" (click)="openFileSelector()"
                        class="btn btn-outline"
                    >Browse Files</button>
                </div>
            </div>
        </ng-template>

    </ngx-file-drop>



    <div class="upload-table">
        <h4>Orders</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Filename</th>
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr *ngFor="let item of files; let i=index">
                    <td><strong>{{ item.relativePath }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="upload-table">
        <h4>Orders</h4>
        <table class="table">
            <thead>
                <tr>
                    <td>shakyground</td>
                    <td>resampler</td>
                    <td>assetmaster</td>
                    <td>modelprop</td>
                    <td>deus</td>                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr *ngFor="let order of orders; let i=index">
                    <td>  <cds-icon *ngIf="order.order_constraints['shakyground']" shape="check"></cds-icon> </td>
                    <td>  <cds-icon *ngIf="order.order_constraints['resampler']" shape="check"></cds-icon> </td>
                    <td>  <cds-icon *ngIf="order.order_constraints['assetmaster']" shape="check"></cds-icon> </td>
                    <td>  <cds-icon *ngIf="order.order_constraints['modelprop']" shape="check"></cds-icon> </td>
                    <td>  <cds-icon *ngIf="order.order_constraints['deus']" shape="check"></cds-icon> </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div>
        <button *ngIf="state === 'awaiting_orders'" class="btn btn-primary" [disabled]="orders.length < 1" (click)="onExecuteClicked()">Execute now</button>
        <a routerLink="/state"><button *ngIf="state === 'processing'" class="btn">See process overview</button></a>
    </div>
</div>