

<h4>Logs</h4>
<app-tabs style="margin-bottom: 10rem; min-height: 10rem;">

    <app-tab [tabTitle]="'backend'">
        <table class="box">
            <tr *ngFor="let logEntry of logs['backend']; let i = index">
                <td>{{ logs['backend'].length - i }}</td>
                <td>{{ logEntry }}</td>
            </tr>
        </table>
    </app-tab>

    <app-tab [tabTitle]="'queue'">
        <table class="box">
            <tr *ngFor="let logEntry of logs['queue']; let i = index">
                <td>{{ logs['queue'].length - i }}</td>
                <td>{{ logEntry }}</td>
            </tr>
        </table>
    </app-tab>

    <app-tab [tabTitle]="'db'">
        <table class="box">
            <tr *ngFor="let logEntry of logs['db']; let i = index">
                <td>{{ logs['db'].length - i }}</td>
                <td>{{ logEntry }}</td>
            </tr>
        </table>
    </app-tab>

</app-tabs>