

<ng-template [ngIf]="isString(data)">
    <div class="textInput">
        <label>{{ title }}</label>
        <input class="parameterStringInput" [formControl]="formControl" type="text" name="" id="" [value]="data">
    </div>
</ng-template>

<ng-template [ngIf]="isArray(data)">
    <div class="selectInput">
        <label>{{ title }}</label>
        <select class="parameterSelect" [formControl]="formControl" name="" id="">
            <option *ngFor="let entry of data" [value]="entry" [selected]="formControl.value === entry">{{ entry }}</option>
        </select>
    </div>
</ng-template>


<ng-template [ngIf]="isComplex(data)">
    <app-service-order-form [formGroup]="subFormGroup" [title]="title" [data]="data"></app-service-order-form>
</ng-template>