<h4>Product types</h4>
<table *ngIf="productTypes$ | async as productTypes">
    <tr>
        <th>ProductTypeName</th>
    </tr>
    <tr *ngFor="let productType of productTypes">
        <td>{{ productType.name }}</td>
    </tr>
</table>


<h4>Products</h4>
<table *ngIf="products$ | async as products">
    <tr>
        <th>BaseProducts</th>
        <th>ProductId</th>
        <th>ProductName</th>
        <th>DerivedProducts</th>
    </tr>
    <tr *ngFor="let product of products">
        <td>{{ product.baseProducts | json }}</td>
        <td>{{ product.product.id }}</td>
        <td>{{ product.product.name }}</td>
        <td>{{ product.derivedProducts | json }}</td>
    </tr>
</table>


<h4>Processes</h4>
<table *ngIf="processes$ | async as processes">
    <tr>
        <th>ProcessId</th>
        <th>WpsId</th>
    </tr>
    <tr *ngFor="let process of processes">
        <td>{{ process.id }}</td>
        <td>{{ process.wps_identifier }}</td>
    </tr>
</table>

<h4>Orders</h4>
<table *ngIf="orders$ | async as orders">
    <tr>
        <th>OrderId</th>
        <th>Constraints</th>
        <th>UserId</th>
    </tr>
    <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>{{ order.order_constraints | json }}</td>
        <td>{{ order.user_id }}</td>
    </tr>
</table>

<h4>Jobs</h4>
<table *ngIf="jobs$ | async as jobs">
    <tr>
        <th>JobId</th>
        <th>ProcessId</th>
        <th>Status</th>
    </tr>
    <tr *ngFor="let job of jobs">
        <td>{{ job.id }}</td>
        <td>{{ job.process_id }}</td>
        <td>{{ job.status }}</td>
    </tr>
</table>