
<ng-container *ngIf="!isLoggedIn">
    <div class="modal">
        <div class="modal-dialog" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Login</h3>
                </div>
                <div class="modal-body">
                    
                    <form clrForm [formGroup]="loginForm">
                        <clr-input-container>
                            <label for="email">Email</label>
                            <input clrInput type="text" name="email" formControlName="email" />
                            <clr-control-error>Invalid email</clr-control-error>
                          </clr-input-container>
                          <clr-input-container>
                            <label>Password</label>
                            <input clrInput type="text" name="password" formControlName="password" />
                            <clr-control-error>Invalid password</clr-control-error>
                          </clr-input-container>
                    </form>
                    
    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" (click)="login()">Login</button>
                </div>
    
            </div>
        </div>
    </div>
    <div class="modal-backdrop" aria-hidden="true"></div>
</ng-container>