<div class="center">
    <ngx-file-drop dropZoneLabel="Drop files here"
        (onFileDrop)="dropped($event)" 
        (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)"
        accept=".json"
        dropZoneClassName=""
        contentClassName=""
    >
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <div class="customDropZone">
                <div class="dropField">
                    Drop your file(s) here
                </div>
                <div>
                    <button type="button" (click)="openFileSelector()"
                        class="btn btn-outline"
                    >Browse Files</button>
                </div>
            </div>
        </ng-template>

    </ngx-file-drop>

    <div class="upload-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Uploaded files</th>
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr *ngFor="let item of files; let i=index">
                    <td><strong>{{ item.relativePath }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>