
<ng-container *ngIf="(loginResult$ | async) as loginResult; else loadingTemplate">
    <div>You're logged in as {{ loginResult.email }}</div>
</ng-container>


<ng-template #loadingTemplate>
    <p>... authenticating ...</p>
</ng-template>

<div *ngIf="(loginError$ | async) as loginError" class="form-modal">

    <div *ngIf="(state$ | async) === 'loading'" class="loading">
        <p>... loading ...</p>
    </div>
    <div *ngIf="(state$ | async) === 'done'" class="error">
        <div>Error: {{loginError.errorMessage }}</div>
        <div>{{ loginError.errorDetails | json }}</div>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
        <h4>Login</h4>
        <div class="textInput">
            <label>Email</label>
            <input type="email" formControlName="email" placeholder="your email">
        </div>
        <div class="textInput">
            <label>Password</label>
            <input type="password" formControlName="password" placeholder="your password">
        </div>
        <button type="submit">Login</button>
    </form>

    <form [formGroup]="registerForm" (ngSubmit)="doRegister()">
        <h4>Registration</h4>
        <div class="textInput">
            <label>Email</label>
            <input type="email" formControlName="email" placeholder="your email">
        </div>
        <div class="textInput">
            <label>Password</label>
            <input type="password" formControlName="password" placeholder="your password">
        </div>
        <button type="submit">Register</button>
    </form>
</div>